doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/semantic/semantic.css')
    script(src='/javascripts/semantic.js')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/semantic/semantic.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  body
    include nav
    block content
